<div *ngIf="!user">
<h4>{{greeting}}</h4>


<img src="{{url}}" height="200" width="500"/>
</div>

<div *ngIf="user" class="order">

    <ol class="left">
        <li>
            <div class="blue"> Upload your file</div>
            <image-upload #upload (onFile)="onImage($event)"></image-upload>
        </li>
        <li>
            <div class="blue">Choose statistic</div>
            <form class="left" action="/action_page.php" method="get" (ngSubmit)="statistic($event)">
                <input type="checkbox" name="vehicle" value="Bike"> Student's t-test<br>
                <input type="checkbox" name="vehicle" value="Car" > Analysis of variance (ANOVA) <br>
                <input type="checkbox" name="vehicle" value="count" checked> Average <br>
                <input type="submit" class="btn" value="Submit">
            </form>
        </li>
    </ol>






